<ion-header>
  <ion-toolbar>
    <ion-title> Novo Usuário </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-pasdding">
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-put type="email" formControlName="email"></ion-put>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-put type="password" formControlName="senha"></ion-put>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nível</ion-label>
      <ion-select formControlName="id_nivel">
      <ion-select-option value="1">Administrativo</ion-select-option>
      <ion-select-option value="1">Caixa</ion-select-option>
      <ion-select-option value="1">Atendente</ion-select-option>
      <ion-select-option value="1">Estoquista</ion-select-option> 
      </ion-select>
    </ion-item>

      <ion-button expand="block" type="submit" [disabled]="form.invalid">
        Salvar
      </ion-button>
  </form>
</ion-content>
